<div class="sidebar">
    <div class="sidebar__header">
        <div class="sidebar__header__left">
            <h4>Coda Acadamy batch - III</h4>
            <mat-icon class="icon">keyboard_arrow_down</mat-icon>
        </div>
        <div class="sidebar__header__right">
            <mat-icon class="icon">edit_location_alt</mat-icon>
        </div>
    </div>

    <div class="sidebar__footer">
        <div class="footer__top">
            <div class="top__menu">
                <mat-icon class="icon">chat</mat-icon>
                <h4>All DMs</h4>
            </div>
            <div class="top__menu">
                <mat-icon class="icon">more_vert</mat-icon>
                <h4>More</h4>
            </div>
            <div class="top__menu">
                <mat-icon class="icon">arrow_drop_down</mat-icon>
                <h4>Channels</h4>
                <mat-icon class="icon add">add</mat-icon>
            </div>
        </div>


        <div class="footer__channel__list">
            <!-- use ngFor -->
            <div class="channel__name">
                <h4>#</h4>
                <h4>channel name</h4>
            </div>
            <div class="channel__name active">
                <h4>#</h4>
                <h4>channel name</h4>
            </div>
            <div class="channel__name">
                <h4>#</h4>
                <h4>channel name</h4>
            </div>
            <div class="channel__name">
                <h4>#</h4>
                <h4>channel name</h4>
            </div>
            <div class="channel__name">
                <h4>#</h4>
                <h4>channel name</h4>
            </div>
            <div class="channel__name">
                <h4>#</h4>
                <h4>channel name</h4>
            </div>
            <div class="channel__name">
                <h4>#</h4>
                <h4>channel name</h4>
            </div>
            <div class="channel__name">
                <h4>#</h4>
                <h4>channel name</h4>
            </div>
            <div class="channel__name">
                <h4>#</h4>
                <h4>channel name</h4>
            </div>
            <div class="channel__name">
                <mat-icon style="margin-left: -7px;" class="icon">add</mat-icon>
                <h4>Add Channel</h4>
            </div>
        </div>

        <div class="footer__dm__list">
            <div class="top__menu">
                <mat-icon class="icon">arrow_drop_down</mat-icon>
                <h4>Direct messages</h4>
            </div>

            <!-- use ngFor -->
            <div class="dm">
                <mat-icon style="margin-left: -7px;" class="icon">account_box</mat-icon>
                <h4>Balaji</h4>
                <mat-icon class="icon close">close</mat-icon>
            </div>
            <div class="dm">
                <mat-icon style="margin-left: -7px;" class="icon">account_box</mat-icon>
                <h4>Kishore</h4>
                <mat-icon class="icon close">close</mat-icon>
            </div>
            <div class="dm">
                <mat-icon style="margin-left: -7px;" class="icon">account_box</mat-icon>
                <h4>Mahadevan</h4>
                <mat-icon class="icon close">close</mat-icon>
            </div>
            <div class="dm">
                <mat-icon style="margin-left: -7px;" class="icon">account_box</mat-icon>
                <h4>JayaHarish</h4>
                <mat-icon class="close">close</mat-icon>
            </div>
            <div class="dm">
                <mat-icon style="margin-left: -7px;" class="icon">account_box</mat-icon>
                <h4>Balaji</h4>
                <mat-icon class="icon close">close</mat-icon>
            </div>
            <div class="dm">
                <mat-icon style="margin-left: -7px;" class="icon">account_box</mat-icon>
                <h4>Kishore</h4>
                <mat-icon class="icon close">close</mat-icon>
            </div>
            <div class="dm">
                <mat-icon style="margin-left: -7px;" class="icon">account_box</mat-icon>
                <h4>Mahadevan</h4>
                <mat-icon class="icon close">close</mat-icon>
            </div>
            <div class="dm">
                <mat-icon style="margin-left: -7px;" class="icon">account_box</mat-icon>
                <h4>JayaHarish</h4>
                <mat-icon class="close">close</mat-icon>
            </div>
            <div class="dm">
                <mat-icon style="margin-left: -7px;" class="icon add">add</mat-icon>
                <h4>add teammates</h4>
            </div>
        </div>
    </div>
</div>
